/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ebf1ef;
  list-style-type: none;
}
.App {
  text-align: center;
}
main {
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;

  border-color: grey;
  border-width: 5px;
  border-style: solid;
  min-height: 100vh;
}
.header {
  padding: 20px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;

  font-size: 6vw;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #828792;
  background-image: url("../public/logo512.png") no-repeat;
}

.header-button {
  color: #2f2c33;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.articles-list {
  text-align: center;
  padding: 40px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  gap: 30px;
  color: #2f2c33;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 4vw;
}
.articles-list li {
  border: solid 3px #776d6a;
  text-align: center;

  border-radius: 20px;
  list-style: none;
  padding: 8px;
  color: #2f2c33;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5vw;
}
.articles-list--author {
  margin-top: 10px;
  font-weight: bold;
}
.article {
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
  list-style: none;
  padding: 20px;
  color: #2f2c33;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
}

.each-individual-article-link {
  text-align: center;
  margin-top: 10px;
  border-radius: 1px;
  list-style: none;
  padding-top: none;
  color: #2f2c33;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5vw;
}
.article-author {
  margin-top: 10px;
  font-weight: bold;
}

.body {
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
  list-style: none;
  padding: 20px;
  color: #2f2c33;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
}

.home {
  /* color: #776d6a;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large; */
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
  list-style: none;
  padding: 20px;
  color: #2f2c33;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
}

/* .comments-on-each-article {
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
  list-style: none;
  padding: 20px;
  color: #2f2c33;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
} */
/* .articles-list {
  display: grid;
  grid-template-columns: 10em 10em 10em;
} */
.comments {
  text-align: center;
  padding: 40px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  gap: 30px;
  color: #2f2c33;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
  grid-template-rows: min-content min-content auto;
  gap: 30px;
}
.actual-comments {
  border: solid 3px #776d6a;
  text-align: center;
  margin-bottom: 2px;
  border-radius: 5px;
  list-style: none;
  padding: 20px;
  color: #2f2c33;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
}
.comment-header {
  padding: 20px 0;
  margin-bottom: 10px;
  border-bottom: 1px grey;

  font-size: 3rem;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #828792;
}
/* .vote-buton {
  font-size: 3rem;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: blue;
} */
.vote-button {
  font-size: 1rem;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #828792;
  border-color: #828792;
}
.comment-author {
  color: #2f2c33;
}
